@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap');

body {
    font-family: 'Heebo', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    display: grid;
    grid-template-areas: 'sidebar main cuaca';
    grid-template-columns: 0.5fr 2fr 0.5fr;
    justify-content: center;
    align-content: center;
}

/* Hamburger Menu */
.sidebar {
    display: flex;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
    margin: 8px;
}

.sidebar input {
    position: absolute;
    width: 40px;
    height: 28px;
    left: -10px;
    top: -6px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.sidebar span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: white;
    border-radius: 3px;
    transition: all 0.5s;
}


/* Hamburger Menu Animation */
.sidebar span:nth-child(2) {
    transform-origin: 0 0;
}

.sidebar span:nth-child(4) {
    transform-origin: 0 100%;
}

.sidebar input:checked ~ span:nth-child(2) {
    transform: rotate(45deg) translate(-1px, -1px);
}

.sidebar input:checked ~ span:nth-child(4) {
    transform: rotate(-45deg) translate(-1px, 0);
}

.sidebar input:checked ~ span:nth-child(3) {
    transform: scale(0);
}

/* Main */
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-template-rows: 90px 75px;
    max-width: 2fr;
    position: relative;
    text-align: center;
}

.time {
    font-size: 1050%;
    color: white;
    margin-top: 200px;
    margin-bottom: 5px;
    padding: 0;
}

.good {
    font-size: 52px;
    margin: 10px;
    color: white;
}

.search {
    background-color: white;    
    width: 550px;
    display: flex;
    padding: 8px;
    border-radius: 365px;
}

.search input {
    padding: 0.375rem 0.75rem;
    border-style: none;
    outline: none;
    width: 85%;
    font-size: inherit;
}

.search  img {
    width: 30px;
    padding: 0;
    margin: 0;
}

/* Cuaca */
.cuaca {
    display: grid;
    justify-content: end;
}

/* Responsive */
@media screen and (max-width: 576px){
    .time {
        font-size: 850%;
    }

    .good {
        font-size: 38px;
    }

    .search {
        width: 400px;
        height: 30px;
    }
}