body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    display: grid;
    grid-template-areas: 'sidebar main cuaca';
    grid-template-columns: 1fr 2fr 1fr;
    justify-content: center;
    align-content: center;
}

/* Hamburger Menu */
.sidebar {
    display: flex;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
    margin: 8px;
}

.sidebar input {
    position: absolute;
    width: 40px;
    height: 28px;
    left: -10px;
    top: -6px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.sidebar span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: white;
    border-radius: 3px;
    transition: all 0.5s;
}


/* Hamburger Menu Animation */
.sidebar span:nth-child(2) {
    transform-origin: 0 0;
}

.sidebar span:nth-child(4) {
    transform-origin: 0 100%;
}

.sidebar input:checked ~ span:nth-child(2) {
    transform: rotate(45deg) translate(-1px, -1px);
}

.sidebar input:checked ~ span:nth-child(4) {
    transform: rotate(-45deg) translate(-1px, 0);
}

.sidebar input:checked ~ span:nth-child(3) {
    transform: scale(0);
}

/* Cuaca */
/* .time {
    justify-content: end;
} */

/* Main */
.main {
    text-align: center; 
    display: grid;
    justify-content: center;
    grid-template-rows: 90px 75px 50px;
    max-width: 2fr;
}

.time {
    font-size: 84px;
    color: white;
}

.good {
    font-size: 72px;
}

.search {
    background-color: white;    
    max-width: 530px;
    max-height: 60px;
    display: grid;
    grid-template-columns: auto 530px;
    padding: 8px;
    border-radius: 365px;
    align-content: space-around;
}

.search input {
    padding: 0;
    box-sizing: border-box;
    padding: 0.375rem 0.75rem;
    border-style: none;
    outline: none;
    width: 85%; 
    font-size: inherit;
}

.search  img {
    width: 30px;
    padding: 0;
    margin: 0;
}

/* Cuaca */
.cuaca {
    display: grid;
    justify-content: end;
}