@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Poppins&display=swap');

html, body{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {width: 10px; display: none ;}

h1, p {
    text-align: center;
    color: white;
}

input {font-size: 16px;}

label, p {
    color: white;
    font-size: 1.1rem;
}

form {
    margin: 0 auto;
    max-width: 600px;
    background-color: rgba(69, 65, 73, 0.5);
    padding: 20px 40px;
    border-radius: 8px;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: var(--color-darkblue);
    background-image: linear-gradient( 115deg, rgba(139, 139, 173, 0.6), rgba(97, 97, 119, 0.5) ), url(img/illust_85263957_20220419_215439.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#title, #description {
    color: black;
}

.checkbox p span {font-size: 14px;}

.checkbox-input {
    min-height: 1.25rem;
    min-width: 1.25rem;
    margin-right: 15px;
}

.radio-input {
    min-height: 1.25rem;
    min-width: 1.25rem;
    margin-right: 15px;
}

label {display: flex;}

input[type='text'],
input[type='email'],
input[type='password'],
select,
textarea,
button {
    width: 100%;
    display: block;
    margin: 10px 0 10px 0;
    box-sizing: border-box;
    border-radius: 5px;
    height: 2.375rem;
    border-style: none;
    padding: 0.375rem 0.75rem;
}

#submit {
    height: 40px;
    font-size: 20px;
    background-color: rgb(214, 110, 110);
}

#comments {min-height: 129px;}